html {
  position: relative;

  min-height: 100%;
}

body {
  font-family: 'Open sans', sans-serif;
  font-size: 12px;
  font-weight: $fontWeightNormal;
  line-height: 1.5;

  margin-bottom: 60px;

  color: $grey-base;

  @include font-smoothing(on);
}

p {
  margin: 0;

  text-indent: 32px;
}

a {
  text-decoration: none;

  color: $grey-base;
}

a:hover {
  position: relative;

  text-decoration: none;

  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0px, $grey-base 0px, $grey-base 1px, rgba(0, 0, 0, 0) 1px);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  a:hover {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0px, $grey-base 0px, $grey-base 0.5px, rgba(0, 0, 0, 0) 0.5px);
  }
}




.firstLine {
  text-indent: 0;
}

.caption {
  font-size: 12px;
  line-height: 1.5;
}

@media (min-width: $desktophd) {
  .caption {
    font-size: 16px;
  }
}

h1,
.h1 {
  font-size: 24px;
  font-weight: $fontWeightBold;
  line-height: 1.5;

  margin: 0;
}

h2,
.h2 {
  font-size: inherit;
  font-weight: $fontWeightBold;

  margin: 0;
  margin-bottom: 18px;
}

@media (min-width: $desktop) {
  h2,
  .h2 {
    margin-bottom: 24px;
  }
}

@media (min-width: $tablet) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }
}
